/* style page for the home page */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
h2 {
  font-family: 'Dancing Script', cursive;  /* font of my choosing */
  font-size: 32px;
  color: rgb(11, 83, 148);
}
#weatherForm {
  font-family: 'Dancing Script', cursive; /* font of my choosing */
  font-size: 24px;
  color: rgb(
    11,
    83,
    148
  ); /* color of my choosing to match the theme of the weather display page */
}

#weatherInput {
  font-family: 'Dancing Script', cursive; /* font of my choosing */
  font-size: 24px;
  color: rgb(
    11,
    83,
    148
  ); /* color of my choosing to match the theme of the weather display page */
}

#weatherSubmit {
  font-family: 'Dancing Script', cursive; /* font of my choosing */
  font-size: 24px;
  color: rgb(11, 83, 148);
  background-color: rgb(
    159,
    197,
    232
  ); /* color of my choosing to match the theme of the weather display page */
  padding: 5px 20px;
  border-radius: 5px;
  margin-top: 20px;
}

#weatherSubmit:hover {
  cursor: pointer;
}